html {
	--gray1: #f4f6f5; /*light gray */
	--gray2: #9caea9; /* dark medium gray */
	--gray3: #788585; /* old silver */
	--gray4: #7c7a7a; /* trolley gray */
	--gray5: #494949; /* outer space */
	--black: rgb(18, 17, 17); /* licorice */
	--black-dark: rgb(3, 3, 3);
	--darkGray: rgb(49, 61, 66);
	--transparent-gray: rgba(73, 91, 99, 0.9);
	--light-gray: #b9b8b4;
	--transparent-black: rgba(19, 17, 16, 0.904);

	--font-light: #ffffff; /* anti-flash white */
	--font-dark: #1a1818; /* eerie black */
	--white: #f7faff;

	--E2P-bright-orange: rgba(255, 192, 0, 1);
	/* --E2P-bright-orange: #ffc000; */
	--E2P-orange: rgba(232, 153, 0, 1);
	/* --E2P-orange: #e89900; */
	--E2P-ginger: rgba(181, 119, 0, 1);
	/* --E2P-ginger: #b57700; */
	--E2P-light-gray: rgba(166, 166, 166, 1);
	/* --E2P-light-gray: #a6a6a6; */
	--E2P-dark-gray: rgba(128, 128, 128, 1);
	/* --E2P-dark-gray: #808080; */
}
body, p {
	font-family: 'ABeeZee', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cormorant Garamond', serif;
}